{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        [
            "latest",
            {
                "es2015": {
                    "modules": false
                }
            }
        ],
        "stage-3"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "src/"
                ]
            }
        ]
    ]
}