

// .z-input {
//   width: 100%;
//   position: relative;
//   display: flex;
//   align-items: center;
//   .z-input-inner {
//     width: 100%;
//     height: 40px;
//     line-height: 40px;
//     border-radius: 4px;
//     border: none;
//     padding: 0 @medium-padding-size;
//     border: 1px solid @ActiveColor;
//     box-sizing: border-box;
//     box-shadow: none;
//     font-size: @medium-font-size;
//     color: @FontColor-2;
//     &::-webkit-input-placeholder { /* WebKit browsers */
//       color: @FontColor-4;
//       font-size: @medium-font-size;
//     }
//     &::-moz-placeholder { /* Mozilla Firefox 19+ */
//       color: @FontColor-4;
//       font-size: @medium-font-size;
//     }
//     &:-ms-input-placeholder { /* Internet Explorer 10+ */
//       color: @FontColor-4;
//       font-size: @medium-font-size;
//     }
//   }
//   &.z-input-small {
//     .z-input-inner {
//       padding: @small-padding-size;
//       font-size: @small-font-size;
//       height: 36px;
//       line-height: 36px;
//       &::-webkit-input-placeholder { /* WebKit browsers */
//         color: @FontColor-4;
//         font-size: @small-font-size;
//       }
//       &::-moz-placeholder { /* Mozilla Firefox 19+ */
//         color: @FontColor-4;
//         font-size: @small-font-size;
//       }
//       &:-ms-input-placeholder { /* Internet Explorer 10+ */
//         color: @FontColor-4;
//         font-size: @small-font-size;
//       }
//     }
//   }
//   &.z-input-mini {
//     .z-input-inner {
//       padding: @mini-padding-size;
//       font-size: @mini-font-size;
//       height: 32px;
//       line-height: 32px;
//       &::-webkit-input-placeholder { /* WebKit browsers */
//         color: @FontColor-4;
//         font-size: @mini-font-size;
//       }
//       &::-moz-placeholder { /* Mozilla Firefox 19+ */
//         color: @FontColor-4;
//         font-size: @mini-font-size;
//       }
//       &:-ms-input-placeholder { /* Internet Explorer 10+ */
//         color: @FontColor-4;
//         font-size: @mini-font-size;
//       }
//     }
//   }
//   // 后置icon
//   &.z-input-suffix {
//     .z-input-inner {
//       padding: 0 40px 0 @medium-padding-size;
//     }
//     .z-input-suffix-icon {
//       .z-input-suffix-icon-inner {
//         display: inline-block;
//         width: 40px;
//         text-align: center;
//         height: 100%;
//         position: absolute;
//         top: 0;
//         right: 0;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         .iconfont {
//           font-size: @medium-font-size;
//           cursor: pointer;
//         }
//       }
//     }
//     &.z-input-small {
//       .z-input-inner {
//         padding-right: 36px;
//       }
//       .z-input-suffix-icon {
//         .z-input-suffix-icon-inner {
//           width: 36px;
//           .iconfont {
//             font-size: @small-font-size;
//           }
//         }
//       }
//     }
//     &.z-input-mini {
//       .z-input-inner {
//         padding-right: 32px;
//       }
//       .z-input-suffix-icon {
//         .z-input-suffix-icon-inner {
//           width: 32px;
//           .iconfont {
//             font-size: @mini-font-size;
//           }
//         }
//       }
//     }
//   }
//   // 前置icon
//   &.z-input-prefix {
//     .z-input-inner {
//       padding: 0 @medium-padding-size 0 40px;
//     }
//     .z-input-prefix-icon {
//       .z-input-prefix-icon-inner {
//         cursor: pointer;
//         display: inline-block;
//         width: 40px;
//         text-align: center;
//         height: 100%;
//         position: absolute;
//         top: 0;
//         left: 0;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         .iconfont {
//           font-size: @medium-font-size;
//         }
//       }
//     }
//     &.z-input-small {
//       .z-input-inner {
//         padding-right: 36px;
//       }
//       .z-input-prefix-icon {
//         .z-input-prefix-icon-inner {
//           width: 36px;
//           .iconfont {
//             font-size: @small-font-size;
//           }
//         }
//       }
//     }
//     &.z-input-mini {
//       .z-input-inner {
//         padding-right: 32px;
//       }
//       .z-input-prefix-icon {
//         .z-input-prefix-icon-inner {
//           width: 32px;
//           .iconfont {
//             font-size: @mini-font-size;
//           }
//         }
//       }
//     }
//   }
//   // 禁用
//   &.z-input-disabled {
//     .z-input-inner {
//       border-color: @DisableColor;
//       background-color: @BorderColor-4;
//       color: @FontColor-4;
//       cursor: not-allowed;
//     }
//   }
// }

.z-input {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  .z-input-inner {
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    border: none;
    padding: 0 @medium-padding-size;
    border: 1px solid @GrayColor-5;
    box-sizing: border-box;
    box-shadow: none;
    font-size: 18px;
    color: @FontColor-2;
    outline: none;
    transition: all 0.3s;
    &:focus,
    &:hover {
      border-color: @ActiveColor;
      border-right-width: 1px !important;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
    &::-webkit-input-placeholder { /* WebKit browsers */
      color: @FontColor-4;
      font-size: @medium-font-size;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: @FontColor-4;
      font-size: @medium-font-size;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: @FontColor-4;
      font-size: @medium-font-size;
    }
  }
  .z-icon {
    font-size: @medium-font-size;
  }
  // size
  &.z-input-medium {
    .z-input-inner {
      height: 32px;
      line-height: 32px;
      font-size: @medium-font-size;
      &::-webkit-input-placeholder { /* WebKit browsers */
        color: @FontColor-4;
        font-size: @medium-font-size;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: @FontColor-4;
        font-size: @medium-font-size;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: @FontColor-4;
        font-size: @medium-font-size;
      }
    }
    .z-icon {
      font-size: @medium-font-size;
    }
  }
  &.z-input-small {
    .z-input-inner {
      height: 28px;
      line-height: 28px;
      font-size: @small-font-size;
      &::-webkit-input-placeholder { /* WebKit browsers */
        color: @FontColor-4;
        font-size: @small-font-size;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: @FontColor-4;
        font-size: @small-font-size;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: @FontColor-4;
        font-size: @small-font-size;
      }
    }
    .z-icon {
      font-size: @small-font-size;
    }
  }
  &.z-input-mini {
    .z-input-inner {
      height: 24px;
      line-height: 24px;
      font-size: @mini-font-size;
      &::-webkit-input-placeholder { /* WebKit browsers */
        color: @FontColor-4;
        font-size: @mini-font-size;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: @FontColor-4;
        font-size: @mini-font-size;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: @FontColor-4;
        font-size: @mini-font-size;
      }
    }
    .z-icon {
      font-size: @mini-font-size;
    }
  }
  &.z-input-prefix {
    .z-input-inner {
      padding-left: 30px;
    }
    .z-input-prefix-icon {
      position: absolute;
      left: 12px;
    }
  }
  &.z-input-suffix {
    .z-input-inner {
      padding-right: 30px;
    }
    .z-input-suffix-icon {
      position: absolute;
      right: 12px;
    }
    .z-input-clear-icon {
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      line-height: 0;
      transform: translateY(-50%);
      .z-icon {
        transition: color 0.3s;
        color: #000;
      }
    }
  }
  &.z-input-disabled {
    .z-input-inner,
    .z-input-suffix-icon {
      border-color: @GrayColor-5;
      cursor: not-allowed;
    }
    .z-input-inner {
      &:focus,
      &:hover {
        border-color: @GrayColor-5;
        border-right-width: 1px !important;
        outline: 0;
        box-shadow: none;
      }
    }
  }
}