// 文字默认色
@FontColor-1: #303133; // 主要字体颜色
@FontColor-2: #606266; // 常规字体色
@FontColor-3: #909399; // 次要文字颜色
@FontColor-4: #c0c4cc; // 站位文字颜色

// 边框色
@BorderColor-1: #dcdfe6; // 一级边框
@BorderColor-2: #e4e7ed; // 二级边框
@BorderColor-3: #ebeef5; // 三级边框
@BorderColor-4: #f2f6fc; // 四级边框

// base color
@Black: #000; // 默认黑色
@SuccessColor: #67c23a; // 成功色
@WarningColor: #e6a23c; // 警告色
@ErrorColor: #f56c6c; // 错误颜色
@InfoColor: #909399; // 信息色
@DisableColor: #c0c4cc; // 禁用色

// font-size
@FontSize: 12px;
@FontSizeTitle: 22px;

// font-family
@font-family: Arial, Helvetica, sans-serif;

.FontSizeTitle {
  font-size: @FontSizeTitle;
  font-weight: bold;
  color: @Black;
}
