name: node ci run

on:
  push:
    branches:
    - release

jobs:
  test:

    runs-on: macOS-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@master
    - name: 初始化node环境
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: 安装项目依赖
      run: npm install
    - name: 编译源码
      run: npm run build
      env:
        CI: true
